@font-face {
    font-family: 'Gill Sans Nova for JL';
    src: url('GillSansNova-Bold.eot');
    src: url('GillSansNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('GillSansNova-Bold.woff2') format('woff2'),
        url('GillSansNova-Bold.woff') format('woff'),
        url('GillSansNova-Bold.ttf') format('truetype'),
        url('GillSansNova-Bold.svg#GillSansNova-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Nova for JL';
    src: url('GillSansNova-Medium.eot');
    src: url('GillSansNova-Medium.eot?#iefix') format('embedded-opentype'),
        url('GillSansNova-Medium.woff2') format('woff2'),
        url('GillSansNova-Medium.woff') format('woff'),
        url('GillSansNova-Medium.ttf') format('truetype'),
        url('GillSansNova-Medium.svg#GillSansNova-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Nova for JL';
    src: url('GillSansNova-Light.eot');
    src: url('GillSansNova-Light.eot?#iefix') format('embedded-opentype'),
        url('GillSansNova-Light.woff2') format('woff2'),
        url('GillSansNova-Light.woff') format('woff'),
        url('GillSansNova-Light.ttf') format('truetype'),
        url('GillSansNova-Light.svg#GillSansNova-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Nova for JL';
    src: url('GillSansNova-SemiBold.eot');
    src: url('GillSansNova-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('GillSansNova-SemiBold.woff2') format('woff2'),
        url('GillSansNova-SemiBold.woff') format('woff'),
        url('GillSansNova-SemiBold.ttf') format('truetype'),
        url('GillSansNova-SemiBold.svg#GillSansNova-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Sebenta-Medium', 'Sebenta Medium', 'Sebenta';
    src: url('sebenta-medium-webfont.woff2') format('woff2'),
         url('sebenta-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sebentaheavy';
    src: url('sebenta-heavy-webfont.woff2') format('woff2'),
         url('sebenta-heavy-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'sebentabold_italic';
    src: url('sebenta-bolditalic-webfont.woff2') format('woff2'),
         url('sebenta-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sebentabold';
    src: url('sebenta-bold-webfont.woff2') format('woff2'),
         url('sebenta-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'sebentalight';
    src: url('sebenta-light-webfont.woff2') format('woff2'),
         url('sebenta-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sebentamedium_italic';
    src: url('sebenta-mediumitalic-webfont.woff2') format('woff2'),
         url('sebenta-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sebentaregular';
    src: url('sebenta-regular-webfont.woff2') format('woff2'),
         url('sebenta-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sebentalight_italic';
    src: url('sebenta-lightitalic-webfont.woff2') format('woff2'),
         url('sebenta-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sebentaregular_italic';
    src: url('sebenta-regularitalic-webfont.woff2') format('woff2'),
         url('sebenta-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sebentaheavy_italic';
    src: url('sebenta-heavyitalic-webfont.woff2') format('woff2'),
         url('sebenta-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

